body{
  background-color:lightblue;
}
img{
  height:200px;
  width:200px;
  border-radius: 100%;
}
hr{
align-content: flex-start
  width: 100PX;
  border-style: solid;
  border:5 0 0 0;
    
}
p{
  font-size:25px;
}
